services:
  content-studio:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: content-studio
    restart: unless-stopped
    ports:
      - "8001:8001"
    env_file:
      - ../.env.deploy
    environment:
      - DB=sqlite:///data/we_mp_rss.db
      - USERNAME=admin
      - PASSWORD=admin@123
      - APP_NAME=content-studio
      - WEB_NAME=商业化内容创作平台
    volumes:
      - ./data:/app/data

volumes:
  db_data:

networks:
  content-studio:


